<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading2">Apprends autrement !</h2>
                <hr class="light">
                </br>
                <p class="text-faded">
                    <ul class="presentation-thp" >
                        <li><strong>Gratuite</strong> : be free, not cheap. Pas besoin de débourser 6000€ pour apprendre à coder dans de bonnes conditions</li>
                      </br>
                        <li><strong>Concrète</strong> : la théorie c'est bien, mais c'est en codant que l'on devient developpeur ! A la fin de la formation, tu auras réalisé un bot twitter, scrappé les recoins du net et réalisé un projet final.</li>
                      </br>
                        <li><strong>Collaborative</strong> : N'importe qui peut faire The Hacking Project, de n'importe où. Seuls  prérequis: une motivation à toute épreuve et trouver au moins 3 partenaires.</li>
                    </ul>
                </p>
              </br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a class="btn btn-default btn-xl" href="https://www.thehackingproject.org/code">En savoir +</a>
            </div>
        </div>
    </div>
</section>
