<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Tu souhaites en savoir plus ? Abonne-toi à notre newsletter ou bien contacte l'un de nos chouettes organisateurs</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>06 95 46 60 80</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:bonjour@thehackingproject.org">bonjour@thehackingproject.org</a></p>
            </div>

        </div>
    </div>
</section>
