<section id="mailing2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                  <!-- Begin MailChimp Signup Form -->
                  <form action="https://example.us17.list-manage.com/subscribe/post?u=7ca25ed075afb83520da5bf82&amp;id=cc1f6d9e0c" method="post"
                   id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                  	<h2>Curieux ? Laisse nous ton mail !</h2>
                      </br>
                  	<label for="mce-FNAME"></label>
                  	<input type="text" value="" name="FNAME" class="champ3" id="mce-FNAME" placeholder="Ton prénom">
                      </br>
                  	<label for="mce-EMAIL"></label>
                  	<input type="email" value="" name="EMAIL" class="champ4" id="mce-EMAIL" required="required" placeholder="Ton email">

                  	<div class="response" id="mce-error-response" style="display:none"></div>
                  	<div class="response" id="mce-success-response" style="display:none"></div>
                  	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  	<div style="position: absolute; left: -5000px;" aria-hidden="true">
                  		<input type="text" name="b_7ca25ed075afb83520da5bf82_cc1f6d9e0c" tabindex="-1" value="">
                  	</div>
                      </br>
                      </br>
                  	<div class="clear">
                  		<input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-xl js-scroll-trigger">
                  	</div>
                  </form>


            </div>
        </div>
    </div>
</section>
